input[type="radio"] {
  display: block; }

.language {
  margin-top: 25px; }

body {
  background: url("../img/background.jpg") no-repeat top center;
  font-family: Helvetica; }

.translator {
  background: #FFF;
  position: absolute;
  width: 400px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 7px;
  font-family: Helvetica;
  padding: 40px 30px;
  text-align: center; }
  .translator h2 {
    margin-bottom: 40px;
    color: #34495e; }
  .translator label input {
    display: block;
    margin: 15px auto; }
  .translator input[type="text"] {
    width: 80%;
    border: none;
    border-bottom: 1px solid #bbb;
    color: #313131;
    padding: 10px;
    text-align: center;
    outline: 0;
    font-size: 16px;
    -moz-outline-style: none; }
    .translator input[type="text"]:focus {
      border-bottom: 1px solid #008744; }
  .translator #translateButton {
    background: #02B875;
    border: none;
    padding: 12px;
    width: 45%;
    margin: 35px auto;
    color: #FFF;
    font-size: 16px;
    -webkit-transition: background .6s ease;
    -o-transition: background .6s ease;
    transition: background .6s ease;
    outline: 0;
    -moz-outline-style: none; }
    .translator #translateButton:hover {
      cursor: pointer;
      background: #329f69; }
    .translator #translateButton:active {
      -webkit-box-shadow: 1px 1px 7px #222;
      box-shadow: 1px 1px 7px #222; }
  .translator a {
    font: 16px;
    margin: 10px;
    color: #bbb;
    text-decoration: none; }
  .translator:after {
    content: '';
    top: 1%;
    left: 0;
    right: 0;
    background: #02B875;
    height: 5px; }
  .translator #result {
    width: 90%;
    margin: 25px auto 0;
    padding: 25px 10px;
    border-radius: 0px;
    font-weight: 700;
    letter-spacing: 0.01em;
    max-height: 160px;
    overflow: auto; }
  .translator .none {
    display: none; }
  .translator .show {
    background: #f3f3f3;
    display: block; }
  .translator .error {
    margin: 5px 15px; }

@media screen and (max-width: 480px) {
  .translator {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
    padding-top: 40px; }
    .translator:after {
      display: none; }
    .translator .wrap {
      position: absolute;
      width: 100%;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%); } }

.btn {
  border: 2px solid #02B875;
  display: inline-block;
  padding: 10px;
  position: relative;
  text-align: center;
  -webkit-transition: background 600ms ease, color 600ms ease;
  -o-transition: background 600ms ease, color 600ms ease;
  transition: background 600ms ease, color 600ms ease; }

.translation {
  color: #02B875;
  font-weight: 700;
  padding: 0;
  border-bottom: 1px dotted;
  display: inline-block;
  margin: 5px 15px;
  text-transform: uppercase; }

input[type="radio"].toggle {
  display: none; }
  input[type="radio"].toggle + label {
    cursor: pointer;
    min-width: 60px;
    padding: 10px 15px; }
    input[type="radio"].toggle + label:hover {
      background: none;
      color: #02B875; }
    input[type="radio"].toggle + label:after {
      background: #02B875;
      content: "";
      height: 100%;
      position: absolute;
      top: 0;
      -webkit-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
      -o-transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
      transition: left 200ms cubic-bezier(0.77, 0, 0.175, 1);
      width: 100%;
      z-index: -1; }
  input[type="radio"].toggle.toggle-left + label {
    border-right: 0; }
    input[type="radio"].toggle.toggle-left + label:after {
      left: 100%; }
  input[type="radio"].toggle.toggle-right + label {
    margin-left: -5px; }
    input[type="radio"].toggle.toggle-right + label:after {
      left: -100%; }
  input[type="radio"].toggle:checked + label {
    cursor: default;
    color: #fff;
    -webkit-transition: color 200ms;
    -o-transition: color 200ms;
    transition: color 200ms; }
    input[type="radio"].toggle:checked + label:after {
      left: 0; }
